<!-- Form for showing profile -->
<div data-ng-app="flowertyApplication.profileModule">
    <div class="row">
        <div class="col-md-9">
            <h3>{{profile.user.contact | flowerFullContactName}}</h3>
            <h4>{{profile.user.login}}</h4>
        </div>
        <div class="col-md-3">
            <h3 class="text-right">{{profile.user.role.name | lowercase | flowerCase:0:1:true | flowerSplit:'_':' '}}</h3>
        </div>
    </div>
    <br><br>

    <div class="row">
        <div class="col-md-6">
            <legend class="small">{{'CONTACT_AND_INFO' | xlat}}</legend>
            <div class="row form-horizontal">
                <label class="col-md-3 text-right">{{'BIRTHDAY' | xlat}}</label>

                <p class="col-md-9">{{profile.user.contact.birthday}}</p>
            </div>
            <div class="row form-horizontal">
                <label class="col-md-3 text-right">{{'EMAIL' | xlat}}</label>

                <p class="col-md-9">{{profile.user.contact.email}}</p>
            </div>
            <br>

            <legend class="small">{{'HOMETOWN' | xlat}}</legend>
            <div class="row form-horizontal">
                <label class="col-md-3 text-right">{{'TOWN' | xlat}}</label>

                <p class="col-md-9">{{profile.user.contact.address.town}}</p>
            </div>
            <div class="row form-horizontal">
                <label class="col-md-3 text-right">{{'STREET' | xlat}}</label>

                <p class="col-md-9">{{profile.user.contact.address.street}}</p>
            </div>
            <div class="row form-horizontal">
                <label class="col-md-3 text-right">{{'HOUSE' | xlat}}</label>

                <p class="col-md-9">{{profile.user.contact.address.house}}</p>
            </div>
            <div class="row form-horizontal">
                <label class="col-md-3 text-right">{{'FLAT' | xlat}}</label>

                <p class="col-md-9">{{profile.user.contact.address.flat}}</p>
            </div>
            <div class="row form-horizontal">
                <label class="col-md-3 text-right">{{'COUNTRY' | xlat}}</label>

                <p class="col-md-9">{{profile.user.contact.address.country}}</p>
            </div>
            <br>

            <legend class="small">{{'COMPANY_INFO' | xlat}}</legend>
            <div class="row form-horizontal">
                <label class="col-md-3 text-right">{{profile.user.contact.company.name}}</label>

                <a href="http://{{profile.user.contact.company.website}}/">{{profile.user.contact.company.website}}</a>
            </div>
        </div>

        <div class="col-md-6">
            <div data-ng-include="profile.phoneListTemplate"></div>
        </div>
    </div>
</div>
