<!-- The form for logging in -->
<div data-ng-app="flowertyApplication.authenticationModule">
    <form id="log-in-form" class="form-narrow form-horisontal" name="loginForm" data-ng-submit="logIn()">
        <fieldset>
            <legend class="text-center">{{'LOGIN' | xlat}}</legend>

            <div class="alert alert-danger" data-ng-show="current.errorLogin">
                <p>{{'UNABLE_LOGIN' | xlat}}</p>

                <p>{{'WRONG_PASS' | xlat}}</p>
                <ul>
                    <li>{{'WRONG_PASS_CAPS' | xlat}}</li>
                    <li>{{'WRONG_PASS_LANG' | xlat}}</li>
                    <li>{{'WRONG_PASS_EDITOR' | xlat}}</li>
                </ul>
            </div>
            <br>

            <div class="form-group form-horizontal">
                <label for="login" class="col-lg-2 control-label">{{'LOGIN' | xlat}}</label>

                <div class="col-lg-10">
                    <input type="text" id="login" 
                    		data-ng-model="current.user.username" class="form-control" name="login" placeholder="{{'LOGIN' | xlat}}"
                    		data-ng-maxlength="20" required 
						  	data-flowerty-validate>
                </div>
            </div>
            <br><br>

            <div class="form-group form-horizontal">
                <label for="password" class="col-lg-2 control-label">{{'PASSWORD' | xlat}}</label>

                <div class="col-lg-10">
                    <input type="password" id="password" 
                    	data-ng-model="current.user.password" class="form-control" name="password" placeholder="{{'PASSWORD' | xlat}}"
                    	data-ng-maxlength="20" required 
					  	data-flowerty-validate>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-ng-model="rememberMe"> {{'REMEMBER_ME' | xlat}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button data-ng-disabled="loginForm.$invalid" class="btn btn-success" type="submit">{{'LOG_IN' | xlat}}</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>