
<!-- The form for signing up -->
<div data-ng-app="flowertyApplication.authenticationModule">
    <form id="sign-up-form" class="form-narrow form-horisontal">
        <fieldset>
            <legend>{{'SIGN_UP' | xlat}}</legend>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <input type="submit" class="btn btn-default" value="{{'SIGN_UP' | xlat}}" data-ng-click="signUp()" />
                </div>
            </div>
        </fieldset>
    </form>
</div>