<!-- Form for showing list of contacts, deleting contacts -->
<div data-ng-app="flowertyApplication.contactModule">
    <fieldset>
        <legend class="text-center">Contacts</legend>
        <div><span data-ng-click="bundle.sendEmail()" class="btn glyphicon glyphicon-send"> Send email</span></div>
        <div data-ng-include="templates.pagination.url"></div>
        <table class="table table-bordered">
            <tr>
                <th> <span data-ng-click="bundle.deleteContact()" class="btn glyphicon glyphicon-remove"></span> </th>
                <th>{{'FULL_NAME' | xlat}}</th>
                <th>{{'BIRTHDAY' | xlat}}</th>
                <th>{{'ADDRESS' | xlat}}</th>
            </tr>
            <tr data-ng-repeat="contact in bundle.contacts.list" >
                <td><input type="checkbox" data-ng-checked="bundle.state.ischecked(contact)"
                                        data-ng-click="bundle.state.ischecked(contact) ? bundle.state.unchecked(contact) : bundle.state.checked(contact)"/></td>
                <td>
                    <a href="#/contact-edit/{{contact.id}}">{{contact.user}} <span class="glyphicon glyphicon-edit"></span>
                        {{contact | flowerFullContactName}}
                    </a>
                </td>
                <td>{{contact.birthday}}</td>
                <td>{{contact.address.town + ', ' + contact.address.street + ', ' + contact.address.house + ', ' + contact.address.flat}}</td>
            </tr>
        </table>
        <div data-ng-include="templates.pagination.url"></div>
    </fieldset>
</div>