<!-- search controls for picked year, month and day -->
<div class="form-group">
	<label class="col-sm-3 control-label">{{'BIRTHDAY_BEFORE' | xlat}}</label>
	<div class="col-sm-3">
		<input data-flowerty-date class="form-control" data-ng-model="bundle.contact.date.birthdayBefore"
			data-format="yyyy-mm-dd" placeholder="{{'CHOOSE_DATE' | xlat}}" readonly data-flowerty-validate-past-pate>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-3 control-label">{{'BIRTHDAY_AFTER' | xlat}}</label>
	<div class="col-sm-3">
		<input data-flowerty-date class="form-control" data-ng-model="bundle.contact.date.birthdayAfter"
			data-format="yyyy-mm-dd" placeholder="{{'CHOOSE_DATE' | xlat}}" readonly>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-3 control-label">{{'EXACT_DATE' | xlat}}</label>
	<div class="col-sm-8">
		<div class="col-sm-5">
			<label>{{'YEAR' | xlat}}</label> <input data-flowerty-date class="form-control glyphicon glyphicon-calendar text-left"
				data-ng-model="bundle.contact.date.year" data-format="yyyy" data-view-mode="years" data-min-view-mode="years" readonly="readonly">
		</div>
		<div class="col-sm-3">
			<label>{{'MONTH' | xlat}}</label> <input data-flowerty-date class="form-control glyphicon glyphicon-calendar text-left"
				data-ng-model="bundle.contact.date.month" data-format="mm" data-view-mode="months" data-min-view-mode="months" readonly="readonly">
		</div>
		<div class="col-sm-3">
			<label>{{'DAY' | xlat}}</label> <input data-flowerty-date class="form-control glyphicon glyphicon-calendar text-left"
				data-ng-model="bundle.contact.date.day" data-format="dd" data-view-mode="days" data-min-view-mode="days" readonly="readonly">
		</div>
	</div>
</div>