<!-- search controls for picked year, month and day -->
<div class="col-sm-8 row">
	<script type="text/javascript">
		$(document).ready(function() {
			$("#year-picker").datepicker({
				format : " yyyy",
				viewMode : "years",
				minViewMode : "years"
			}).on('changeDate', function(e) {
				$(this).trigger('input');
				$(this).datepicker('hide');
			});

			$("#month-picker").datepicker({
				format : " mm",
				viewMode : "months",
				minViewMode : "months"
			}).on('changeDate', function(e) {
				$(this).trigger('input');
				$(this).datepicker('hide');
			});

			$("#day-picker").datepicker({
				format : " dd",
				viewMode : "days",
				minViewMode : "days"
			}).on('changeDate', function(e) {
				$(this).trigger('input');
				$(this).datepicker('hide');
			});
		});
	</script>
	<div class="col-md-4">
		<label>Year</label> 
		<input type="checkbox" data-ng-model="bundle.date.year.isUse"> 
		<input id="year-picker" class="form-control glyphicon glyphicon-calendar" data-ng-show="bundle.date.year.isUse" data-ng-model="bundle.date.year.value">
	</div>
	<div class="col-md-4">
		<label>Month</label> 
		<input type="checkbox" data-ng-model="bundle.date.month.isUse"> 
		<input id="month-picker" class="form-control glyphicon glyphicon-calendar" data-ng-show="bundle.date.month.isUse" data-ng-model="bundle.date.month.value">
	</div>
	<div class="col-md-4">
		<label>Day</label> 
		<input type="checkbox" data-ng-model="bundle.date.day.isUse"> 
		<input id="day-picker" class="form-control glyphicon glyphicon-calendar" data-ng-show="bundle.date.day.isUse" data-ng-model="bundle.date.day.value">
	</div>
</div>