<div class="col-md-5">
	<table class="table">
		<caption>
			Phones 
			<a href=""> 
				<span class="glyphicon glyphicon-remove pull-right red margin-right-20"
						data-ng-click="bundle.actions.deletePhone()"></span>
			</a> 
			<a href="" data-ng-click="bundle.actions.addPhone()"> 
				<span class="glyphicon glyphicon-plus pull-right green" 
						data-toggle="modal"
						data-target="#phone-form-modal" 
						data-whatever="@getbootstrap"> 
				</span>
			</a>
		</caption>
		<tr>
			<th></th>
			<th>Number</th>
			<th>Type</th>
			<th>Comment</th>
			<th></th>
		</tr>
		<tr data-ng-repeat="phone in bundle.contact.phones">
			<td><input type="checkbox" data-ng-model="fake.isDeletePhone" data-ng-change="phone.id = -phone.id"></td>
			<td>{{phone.country + phone.operator + phone.number}}</td>
			<td>{{phone.type | lowercase | flowerCase:0:1:true | flowerSplit:'_':' '}}</td>
			<td>{{phone.comment}}</td>
			<td><a href="" data-ng-click="bundle.actions.editPhone(phone)"> <span class="glyphicon glyphicon-edit" data-toggle="modal"
					data-target="#phone-form-modal" data-whatever="@getbootstrap"></span>
			</a></td>
		</tr>
	</table>
</div>