<div class="row">
	<div class="col-md-12">
		{{bundle | json}}
		<div class="well well-sm">
			<fieldset class="form-horizontal">
				<legend class="text-center header">Send email</legend>
				<div class="form-group">
					<label class="col-sm-3 control-label">To</label>
					<div class="col-md-8">
						<input id="fname" data-ng-model="bundle.email.to" placeholder="To" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Subject</label>
					<div class="col-md-8">
						<input id="lname" data-ng-model="bundle.email.subject" placeholder="Subject" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Template</label>
					<div class="col-md-8">
						<select data-ng-options="t as t.name for t in bundle.templates" data-ng-model="bundle.template"></select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Message</label>
					<div class="col-md-8">
						<textarea class="form-control" data-ng-model="bundle.template.value" placeholder="Enter your massage for us here." rows="7">
                         </textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12 text-center">
						<button type="submit" class="btn btn-primary btn-lg" data-ng-click="bundle.actions.send(bundle.email)">Submit</button>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</div>
