<!-- form of adding of goods -->
<div class="col-md-10 col-md-offset-1 well well-sm">
	<div data-ng-app="flowertyApplication.goodsModule">
		<form name="goodsForm">
			<fieldset class="col-md-offset-1 form-horizontal">
				<legend class="text-center">Add Goods</legend>
				<div class="form-group">
					<label class="col-md-3" style="margin-right: 15px;">Cost</label>
					<div style="margin-left: 30px;" class="col-md-3 input-group">
						<input type="text" class="form-control" placeholder="Cost" data-ng-model="bundle.goods.cost">
						<div class="input-group-addon">$</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3">Flower</label>
					<div class="col-md-8">
						<input type="text" class="form-control" data-ng-model="bundle.goods.flower.name" placeholder="Type flowerty name here">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3">Remain</label>
					<div class="col-md-3">
						<input class="form-control" data-ng-model="bundle.goods.remain" placeholder="On warehouse">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3">Picture</label>
					<div class="col-md-4">
						<input type="file" data-ng-model="bundle.picture" data-flowerty-picture-pick>
					</div>
				</div>
			</fieldset>
			<div>
				<button class="pull-right col-sm-2 btn btn-primary active" data-ng-click="bundle.actions.add()">Add</button>
			</div>
		</form>
	</div>
</div>