
<!-- Goods list -->
<h1>Make an order!</h1>
<div class="row">
    <div class="goods-item col-md-4 thumbnail">
        <div class="goods-image">
            <img alt="flowers" class="img-responsive" src="resources/images/flowers-iris.jpg"/>
        </div>
        <div class="goods-item-info caption text-center">
            <h3 class="goods-item-description">Iris</h3>
            <p>Count: <span class="glyphicon glyphicon-minus"></span>
                <span class="goods-item-count badge">3</span>
                <span class="glyphicon glyphicon-plus"></span>
            </p>
            <div class="btn btn-default">Add to basket</div>
        </div>
    </div>
    <div class="goods-item col-md-4 thumbnail">
        <div class="goods-image">
            <img alt="flowers" class="img-responsive" src="resources/images/orchid_rose.jpg"/>
        </div>
        <div class="goods-item-info caption text-center">
            <h3 class="goods-item-description">Iris</h3>
            <p>Count: <span class="glyphicon glyphicon-minus"></span>
                <span class="goods-item-count badge">3</span>
                <span class="glyphicon glyphicon-plus"></span>
            </p>
            <div class="btn btn-default">Add to basket</div>
        </div>
    </div>
    <div class="goods-item col-md-4 thumbnail">
        <div class="goods-image">
            <img alt="flowers" class="img-responsive" src="resources/images/flowers-iris.jpg"/>
        </div>
        <div class="goods-item-info caption text-center">
            <h3 class="goods-item-description">Iris</h3>
            <p>Count: <span class="glyphicon glyphicon-minus"></span>
                <span class="goods-item-count badge">3</span>
                <span class="glyphicon glyphicon-plus"></span>
            </p>
            <div class="btn btn-default">Add to basket</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="goods-item col-md-4 thumbnail">
        <div class="goods-image">
            <img alt="flowers" class="img-responsive" src="resources/images/flowers-iris.jpg"/>
        </div>
        <div class="goods-item-info caption text-center">
            <h3 class="goods-item-description">Iris</h3>
            <p>Count: <span class="glyphicon glyphicon-minus"></span>
                <span class="goods-item-count badge">3</span>
                <span class="glyphicon glyphicon-plus"></span>
            </p>
            <div class="btn btn-default">Add to basket</div>
        </div>
    </div>
    <div class="goods-item col-md-4 thumbnail">
        <div class="goods-image">
            <img alt="flowers" class="img-responsive" src="resources/images/flowers-iris.jpg"/>
        </div>
        <div class="goods-item-info caption text-center">
            <h3 class="goods-item-description">Iris</h3>
            <p>Count: <span class="glyphicon glyphicon-minus"></span>
                <span class="goods-item-count badge">3</span>
                <span class="glyphicon glyphicon-plus"></span>
            </p>
            <div class="btn btn-default">Add to basket</div>
        </div>
    </div>
</div>