<div ng-app="flowertyApplication.userModule" class="ng-scope">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Full Name</th>
				<th>Login</th>
				<th>Role</th>
			</tr>
		</thead>
		<tbody>
			<tr class="ng-scope" ng-repeat="user in users.usersList">
				<td>{{user.contact.name + " " + user.contact.surname + " " + user.contact.fathername}}</td>
				<td>{{user.login}}</td>
				<td>{{user.role.name | flowerSplit:'_'}}</td>
				<td>
					<a href="#/edit-user?id={{user.id}}">edit</a> |
        			<a href="#/remove-user?id={{user.id}}">remove</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<ul class="pagination">
	<li><a href="" data-ng-click="users.getPreviousPage()">&lt;</a></li>
	<li data-ng-repeat="page in users.pages"
		data-ng-class="[ users.pageClass(page.value)]"><a href=""
		data-ng-click="users.getPage(page.value)">{{page.value}}</a></li>
	<li><a href="" data-ng-click="users.getNextPage()">&gt;</a></li>
</ul>