<div data-ng-app="flowertyApplication.userModule">
	<form class="form-horizontal">
        <div class="form-group" data-ng-show="option.edit">
            <label class="col-sm-6 col-sm-offset-2">
                <a href="">{{bundle.user.contact.name + ' ' + bundle.user.contact.fathername + ' ' + bundle.user.contact.surname}}</a>
            </label>
        </div>
		<div class="form-group" data-ng-show="!option.edit">
			<label class="col-sm-2 control-label">Contacts</label>
			<div class="col-sm-6">
                <div class="col-sm-6">
                    <input type="text" placeholder="start typing.."
                           data-ng-model="dynamicSearch.enteredSurname"
                            data-ng-change="dynamicSearch.offerContacts(dynamicSearch.enteredSurname)"/>
                </div>
                <select class="list-group-item select-select" size="3"
                        data-ng-show="dynamicSearch.showResults()"
                        data-ng-options="contact as contact.name + ' ' + contact.fathername + ' ' + contact.surname for contact in dynamicSearch.offeredContacts"
                        data-ng-model="bundle.user.contact"
                        data-ng-click="dynamicSearch.selectContact()">
                </select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Roles</label>
			<div class="col-sm-6">
				<select class="form-control btn-success"
					data-ng-model="bundle.user.role"
					data-ng-options="r as r.name | lowercase | flowerCase:0:1:true | flowerSplit:'_':' ' for r in bundle.roles">
				</select>
			</div>
		</div>
        <div class="form-group" data-ng-show="option.edit">
            <label class="col-sm-6 col-sm-offset-2">Login: <strong>{{bundle.user.login}}</strong></label>
        </div>
		<div class="form-group" data-ng-show="!option.edit">
			<label class="col-sm-2 control-label">Login</label>
			<div class="col-sm-6">
				<input type="text" class="form-control"  data-ng-model="bundle.user.login" placeholder="Login">
			</div>
		</div>
		<div class="form-group" data-ng-show="!option.edit">
			<label class="col-sm-2 control-label">Password</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" data-ng-model="bundle.user.password" placeholder="Password">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button data-ng-click="save()" class="pull-right col-sm-2 btn btn-primary btn-lg active">Save</button>
			</div>
		</div>
	</form>
</div>