<!DOCTYPE html>
<html ng-app="flowertyApp">
	<head>
		<meta charset="ISO-8859-1">
		<title>Flowerty</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="resources/js/flowertyApp.js"></script>
		<script src="resources/js/logInController.js"></script>
        <link rel="stylesheet" href="resources/css/bootstrap.min.css">
        <link rel="stylesheet" href="resources/css/core.css">
	</head>
	<body ng-controller="logInController">
		<div class="container" >
			<div data-ng-hide="{{isLogged}}" >
				<form class="form-inline">
					<input type="text" class="form-control" data-ng-model="login" placeholder="login" value="{{login}}"/>
					<input type="password" class="form-control" data-ng-model="password" placeholder="password" value="{{password}}"/>
					<input type="submit" ng-click="logIn()" class="btn btn-default" id="logInButton" value="Log in!" />	
				</form>
			</div>
		</div>		
	</body>
</html>