<table class="table">
    <tr class="row" >
<!--         <th>first name</th> -->
<!--         <th>second name</th> -->
<!--         <th>name by father</th> -->
        <th>login</th>
<!--         <th>role</th> -->
    </tr>
    <tr class="row" data-ng-repeat="user in users.usersList" >
<!--         <td>{{user.contact.firstName}}</td> -->
<!--         <td>{{user.contact.secondName}}</td> -->
<!--         <td>{{user.contact.nameByFather}}</td> -->
        <td>{{user.login}}</td>
<!--         <td>{{user.role}}</td> -->
    </tr>
</table>