<div class="row">
	<a href="#" class="thumbnail"> <img
		src="resources/images/header.jpg">
	</a>
</div>
<div class="header clearfix">
	<ul class="pull-right">
		<ul class="list-inline">
			<li><a href="#/users"><span class="glyphicon glyphicon-th-list"></span> Users</a></li>
			<li><a href="#/contacts"><span class="glyphicon glyphicon-list-alt"></span> Contacts</a></li>
			<li><a href="#/edit-mock-user"><span class="glyphicon glyphicon-edit"></span> Edit Mock User</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-search"></span> Search contacts</a></li>
            <li id="logged-user" class="active" data-ng-show="current.isLogged"><a href="" ><strong>{{current.user.name}}</strong>(<strong>{{current.user.role}}</strong>)</a></li>
            <li data-ng-show="!current.isLogged"><a href="#/login"><span class="glyphicon glyphicon-log-in">Login </span> </a></li>
            <li data-ng-show="current.isLogged"><a href="" data-ng-click="current.logOut()"> <span class="glyphicon glyphicon-log-out">Logout</span> </a></li>
	</ul>
</div>