<!-- Form for editing or creating an order -->
<div data-ng-app="flowertyApplication.orderModule">
    <form class="form-horizontal col-md-offset-1 col-md-10" name="orderForm">
        <fieldset>
            <legend class="text-center"
                    data-ng-show="!bundle.order.id">
                {{'CHECKOUT' | xlat}}!
            </legend>
            <legend class="text-center"
                    data-ng-show="bundle.order.id">
                {{'EDIT_ORDER' | xlat}} <a href="#order-history/{{bundle.order.id}}">#{{bundle.order.id}}<span class="glyphicon glyphicon-time"></span></a>
            </legend>
            <div class="form-group form-group-lg">
                <label for="state" class="col-sm-3 control-label">{{'STATE' | xlat}}</label>
                <div class="col-sm-9">
                    <p id="state" class="form-control-static">{{bundle.order.state.description}}</p>
                    <div class="btn-group btn-group-lg">
                        <div class="btn btn-default"
                             data-ng-repeat="state in bundle.availableStates"
                             data-ng-click="orderAction.changeState(state)"
                             data-toggle="modal"
                             data-target="#state-change-modal"
                             data-whatever="@mdo">{{state.description}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="customer" class="col-sm-3 control-label">{{'CUSTOMER' | xlat}}</label>
                <div class="col-sm-9" data-ng-show="bundle.order.id">
                    <p class="form-control-static input-lg">{{bundle.order.customer.name}} {{bundle.order.customer.fathername}} {{bundle.order.customer.surname}}</p>
                </div>
                <div class="col-sm-9" data-ng-show="!bundle.order.id">
                    <img class="loader" src="resources/images/loader.gif"
                            data-ng-show="search.customer.loading"/>
                    <input autocomplete="off"
                           type="text" class="form-control input-lg" id="customer" placeholder="{{'START_TYPING' | xlat}}.." name="customer"
                           data-ng-model="search.customer.enteredSurname"
                           data-ng-change="dynamicSearch.offerContacts(search.customer)"
                           data-ng-required="!bundle.order.id" data-flowerty-validate/>
                    <select class="form-control list-group-item select-select" size="3"
                            data-ng-show="search.customer.show"
                            data-ng-options="contact as contact.name + ' ' + contact.fathername + ' ' + contact.surname for contact in search.customer.offeredContacts"
                            data-ng-model="search.customer.selected"
                            data-ng-click="dynamicSearch.selectContact(search.customer)">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="receiver" class="col-sm-3 control-label">{{'RECEIVER' | xlat}}</label>
                <div class="col-sm-9" data-ng-show="bundle.order.id">
                    <p class="form-control-static input-lg">{{bundle.order.receiver.name}} {{bundle.order.receiver.fathername}} {{bundle.order.receiver.surname}}</p>
                </div>
                <div class="col-sm-9" data-ng-show="!bundle.order.id">
                    <img class="loader" src="resources/images/loader.gif"
                         data-ng-show="search.receiver.loading"/>
                    <input autocomplete="off"
                           type="text" class="form-control input-lg" id="receiver" placeholder="{{'START_TYPING' | xlat}}.." name="receiver"
                           data-ng-model="search.receiver.enteredSurname"
                           data-ng-change="dynamicSearch.offerContacts(search.receiver)"
                           data-ng-required="!bundle.order.id"  data-flowerty-validate/>
                    <select class="form-control list-group-item select-select" size="3"
                            data-ng-show="search.receiver.show"
                            data-ng-options="contact as contact.name + ' ' + contact.fathername + ' ' + contact.surname for contact in search.receiver.offeredContacts"
                            data-ng-model="search.receiver.selected"
                            data-ng-click="dynamicSearch.selectContact(search.receiver)">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-3 control-label">{{'DESCRIPTION' | xlat}}</label>
                <div class="col-sm-9">
                    <textarea rows="5" class="form-control" id="description" name="description" placeholder="{{'DESCRIPTION' | xlat}}"
                              data-ng-model="bundle.order.description"
                              data-ng-maxlength="300"
                              data-ng-flowerty-validate></textarea>
                </div>
            </div>
            <div class="form-group form-group-lg">
                <label for="full-cost" class="col-sm-3 control-label">{{'FULL_COST' | xlat}}</label>
                <div class="col-sm-9">
                    <p id="full-cost" class="form-control-static">{{bundle.order.cost | currency}}</p>
                </div>
            </div>

            <!-- Address -->
            <fieldset>
                <legend>{{'ADDRESS' | xlat}}</legend>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{'TOWN' | xlat}}</label>
                    <div class="col-sm-9">
                        <input data-ng-model="bundle.order.address.town" class="form-control" name="town" placeholder="{{'TOWN' | xlat}}"
                                            required data-ng-maxlength="100"
                                            data-flowerty-validate>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{'STREET' | xlat}}</label>
                    <div class="col-sm-9">
                        <input data-ng-model="bundle.order.address.street" class="form-control" name="Street" placeholder="{{'STREET' | xlat}}"
                                                required data-ng-maxlength="100"
                                                data-flowerty-validate>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{'HOUSE' | xlat}}</label>
                    <div class="col-sm-9">
                        <input data-ng-model="bundle.order.address.house" class="form-control" name="house" placeholder="{{'HOUSE' | xlat}}"
                                                    required data-ng-maxlength="10"
                                                    data-flowerty-validate>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{'FLAT' | xlat}}</label>
                    <div class="col-sm-9">
                        <input data-ng-model="bundle.order.address.flat" class="form-control" name="flat" placeholder="{{'FLAT' | xlat}}"
                                                required data-ng-maxlength="10"
                                                data-flowerty-validate>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{'COUNTRY' | xlat}}</label>
                    <div class="col-sm-9">
                        <input data-ng-model="bundle.order.address.country" class="form-control" name="country" placeholder="{{'COUNTRY' | xlat}}"
                                                required data-ng-maxlength="100"
                                                data-flowerty-validate>
                    </div>
                </div>
            </fieldset>
            <!-- Date custom directive -->
            <div class="form-group">
                <label class="col-sm-3 control-label">{{'DELIVERY_DATE' | xlat}}:</label>
                <div class="col-sm-4">
                    <input data-flowerty-date class="form-control glyphicon glyphicon-calendar"
                           data-ng-model="bundle.order.deliveryDate" data-format="yyyy-mm-dd" placeholder="{{'SELECT_DATE' | xlat}}.." name="delivary date"
                           readonly required date-validate="future"
                           data-flowerty-validate>
                </div>
            </div>
            <fieldset>
                <legend>{{'STAFF' | xlat}}</legend>
                <div class="form-group">
                    <label for="orders-manager" class="col-sm-3 control-label">{{'ORDERS_MANAGER' | xlat}}</label>
                    <div class="col-sm-9">
                        <p id="orders-manager" class="form-control-static">{{bundle.order.manager.login}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="orders-processor" class="col-sm-3 control-label">{{'ORDERS_PROCESSOR' | xlat}}</label>
                    <div class="col-sm-9" data-ng-show="bundle.order.id && !access.canChangeStaff">
                        <p class="form-control-static">{{bundle.order.staff.login}}</p>
                    </div>
                    <div class="col-sm-9" data-ng-show="!bundle.order.id || access.canChangeStaff">
                        <select class="form-control" id="orders-processor"
                                data-ng-model="bundle.order.staff"
                                data-ng-options="processor as processor.login for processor in staff.processors">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="delivery-manager" class="col-sm-3 control-label">{{'DELIVERY_MANAGER' | xlat}}</label>
                    <div class="col-sm-9" data-ng-show="bundle.order.id && !access.canChangeStaff">
                        <p class="form-control-static">{{bundle.order.delivery.login}}</p>
                    </div>
                    <div class="col-sm-9" data-ng-show="!bundle.order.id || access.canChangeStaff">
                        <select class="form-control" id="delivery-manager"
                                data-ng-model="bundle.order.delivery"
                                data-ng-options="deliveryManager as deliveryManager.login for deliveryManager in staff.deliveryManagers">
                        </select>
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button class="btn btn-default btn-lg"
                            data-ng-disabled="orderForm.$invalid"
                            data-ng-show="!bundle.order.id"
                            data-ng-click="orderAction.checkout()">{{'CHECKOUT' | xlat}}</button>
                    <button class="btn btn-default btn-lg"
                            data-ng-disabled="orderForm.$invalid"
                            data-ng-show="bundle.order.id"
                            data-ng-click="orderAction.save()">{{'SAVE' | xlat}}</button>
                </div>
            </div>
        </fieldset>
    </form>

    <div class="col-md-offset-1 col-md-10">
        <h1 class="col-md-12">{{'YOUR_ORDER' | xlat}}:</h1>
        <div class="row" data-ng-repeat="goodsItem in bundle.order.items">
            <div class="goods-item col-md-12 thumbnail">
                <div class="goods-image col-md-3">
                    <img alt="flowers" class="img-responsive" src="picture/{{goodsItem.goods.image}}"/>
                </div>
                <div class="goods-list-item-info caption col-md-offset-1 col-md-7" data-ng-show="goodsItem.quantity">
                    <h3 class="goods-item-description">{{goodsItem.goods.flower.name}}</h3>
                    <h3 class="goods-item-description">{{goodsItem.goods.cost | currency}} x {{goodsItem.quantity}} = {{(goodsItem.goods.cost * goodsItem.quantity) | currency}}</h3>
                    <h3>{{'COUNT' | xlat}}: <strong>{{goodsItem.quantity}}</strong></h3>
                </div>
                <div class="goods-list-item-info caption col-md-offset-1 col-md-7" data-ng-show="!goodsItem.quantity">
                    <h3><strong>{{'NOT_AVAILABLE' | xlat}}</strong></h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Partials -->
<div data-ng-include="partial.stateChange"></div>
