
<!-- Orders list form -->
<div data-ng-app="flowertyApplication.orderModule">
    <fieldset>
        <legend class="text-center">{{'ORDERS' | xlat}}</legend>
        <div data-ng-include="templates.pagination.url"></div>
        <table class="table table-bordered">
            <tr>
                <th>{{'DELIVERY_DATE' | xlat}}</th>
                <th>{{'DESCRIPTION' | xlat}}</th>
                <th>{{'FULL_COST' | xlat}}</th>
            </tr>
            <tr data-ng-repeat="order in orders.list" >
                <td><a href="#edit-order/{{order.id}}"><span class="glyphicon glyphicon-edit"></span></a> {{order.deliveryDate}}</td>
                <td>{{order.description}}</td>
                <td>{{order.cost | currency}}</td>
            </tr>
        </table>
        <div data-ng-include="templates.pagination.url"></div>
    </fieldset>
</div>